*{
    margin: 0; 
}
.header{
    height: 10vh; 
    background: royalblue; 
    display: flex; 
    align-items: center;  
}

.logo{
    flex: 1;
    color: white;
    font-size: 20px; 
    margin-left: 10px; 
    font-weight: bold; 
    font-family: cursive;
}

.menubar{
    flex:1; 
    display: flex; 
    justify-content: flex-end;
}

.menulist{
    margin-left: 20px; 
    color: white; 
    border: 1.5px solid white; 
    font-size: 15px; 
    font-weight: bold; 
    padding: 4px;
    border-radius: 12px; 
    margin-right:10px;
    width:50%;
    text-align: center;
    font-family:cursive;
}

.mainbody{
    height: 80vh; 
    background:powderblue; 
    display: flex; 
}

.l,.r{
    flex: 2;
    display: flex;
    justify-content: center;
    border-left: 1px solid;
    border-right: 1px solid;
}
.c{
    flex: 4;
    display: flex;
    justify-content: center;
}

h3{
    color: white;
    border: 2px solid white; 
    border-radius: 12px;
    background: #707470; 
    height: 5vh;
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;  
    margin: 10px;
    font-family:cursive;
}
.footer{
    height: 10vh; 
    background:royalblue; 
    display: flex; 
    justify-content: center;
    align-items: flex-end;
    font-family: cursive;
}
